@page
@model RazorPagesMyPhotos.Pages.Files.IndexModel
@{
    ViewData["Title"] = "Index";
}
<h1>Files</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Photo
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Files[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Files[0].Path)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Files[0].Properties)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Files)
        {
        <tr style="font-size:small">
            <td>
                <img src="@Url.Content(item.Path)" alt="Image" style="height:100px;width:100px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Path)
            </td>
            <td>
                @foreach (var prop in item.Properties)
                {
                    <p>@prop.Key : @prop.Value</p>
                }
            </td>
        </tr>
        }
    </tbody>
</table>